.date-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.date-container a{
  cursor: pointer;
}

.currentMonth{
  display: flex;
  width: 150px;
  justify-content: center;
}
.calendar-display{
  display: flex;
  flex-direction: row;
  margin: 20px auto 40px auto;
  width: 90%;
}
.calendar-column{
  flex: 7;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
}
.calendar-column:last-child{
  border-right: 1px solid #333333;
}
.calendar-row{
  height: 200px;
  border-bottom: 1px solid #333333;
  padding: 3px 5px;
  opacity: 0.6;
}
.calendar-row.current-month{
  color: #333333;
  font-weight: 500;
  opacity: 1;
}
.calendar-row.day{
  padding: 0 5px;
  border-bottom: none;
  height: auto;
  color: grey;
}
